<section id="biography">
    <div class="container-fluid">

        <!-- bio's title -->
        <div class="row">
            <div class="col-12 text-center">
                <h3>{{title}}</h3>
            </div>
        </div>
        <!-- End : bio's title -->

    </div>
</section>

{{>form}}
