<section id="biography">
    <div class="container-fluid">

        <!-- bio's title -->
        <div class="row">
            <div class="col-12 text-center">
                <h3>{{title}}</h3>
            </div>
        </div>
        <!-- End : bio's title -->

        <div class="row">
            <!-- short bio -->
            <div class="col-9 text-justify">
                <p> {{>biography}} </p>
            </div>
            <!-- End : short bio -->

            <!-- portrait -->
            <div class="col-3">
                <img src="http://via.placeholder.com/400x400" alt="placeholder" class="img-fluid">
            </div>
            <!-- End : portrait -->
        </div>

    </div>
</section>

{{>form}}
