<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- Form contact --}}
<section id="formContact">
    <div class="container-fluid">
        <div class="row">

            <!-- form -->
            <form>
                <!-- first Name input -->
                <div class="form-group">
                    <label for="firstNameInput">First name : </label>
                    <input type="text" class="form-control" id="firstNameInput" placeholder="Write your first name">
                </div>
                <!-- End : first Name input -->
            </form>
            <!-- End : form -->

        </div>
    </div>
</section>
{{! -- End : Form contact --}}
