<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- Form contact --}}
<section id="formContact">
    <div class="container-fluid">

        <!-- Section's title -->
        <div class="row">
            <div class="col-12 text-center">
                <h2> Contact us </h2>
            </div>
        </div>
        <!-- End : Section's title -->

            <!-- form -->
            <form>
                <!-- first Name input -->
                <div class="form-group row">
                    <label for="firstNameInput" class="col-sm-2 col-form-label text-right">First name : </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstNameInput" placeholder="Write your first name">
                    </div>
                </div>
                <!-- End : first Name input -->

                <!-- last name input -->
                <div class="form-group row">
                    <label for="lastNameInput" class="col-sm-2 col-form-label text-right">Last name : </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastNameInput" placeholder="Write your last name">
                    </div>
                </div>
                <!-- End : last name input -->

                <!-- Email input -->
                <div class="form-group row">
                    <label for="emailInput" class="col-sm-2 col-form-label text-right">E-mail : </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="emailInput" placeholder="Write your email address">
                    </div>
                </div>
                <!-- End : Email input -->

                <!-- object list select -->
                <div class="form-group row">
                    <label for="objectSelect" class="col-sm-2 col-form-label text-right">Select : </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="objectSelect">
                            <option value="Lorem ipsum">Lorem ipsum</option>
                            <option value="Lorem ipsum">Lorem ipsum</option>
                            <option value="Lorem ipsum">Lorem ipsum</option>
                        </select>
                    </div>
                </div>
                <!-- End : object list select -->

            </form>
            <!-- End : form -->

    </div>
</section>
{{! -- End : Form contact --}}
