<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap 4.0.0 CSS file uncompress -->
    <link rel='stylesheet' href='/stylesheets/bootstrap-4.0.0/dist/css/bootstrap.css' />

  </head>
  <body>
    {{{body}}}

  <!-- JQuery 3.3.1 file uncompress ( necessary for the bootstrap's plugins ) -->
  <script src="/javascripts/jquery-3.3.1.js"></script>

  <!-- Bootstrap 4.0.0 JS file with all plugins, not compressing version -->
  <script src="/stylesheets/bootstrap-4.0.0/dist/js/bootstrap.js"></script>
  </body>



</html>
