<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap 4.0.0 CSS file uncompress -->
    <link rel='stylesheet' href='/stylesheets/bootstrap-4.0.0/dist/css/bootstrap.css' />

  </head>
  <body>
    {{{body}}}
  </body>
</html>
